@font-face {
  font-family: "iconfont"; /* Project id 4495402 */
  src: url('iconfont.woff2?t=1713610089657') format('woff2'),
       url('iconfont.woff?t=1713610089657') format('woff'),
       url('iconfont.ttf?t=1713610089657') format('truetype'),
       url('iconfont.svg?t=1713610089657#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ai-loginOut:before {
  content: "\e613";
}

.ai-youxiang:before {
  content: "\e672";
}

.ai-tongzhi:before {
  content: "\e619";
}

.ai-upload:before {
  content: "\e611";
}

.ai-tips:before {
  content: "\e62b";
}

.ai-pre_icon_xuanchuanwuliao:before {
  content: "\e639";
}

.ai-back:before {
  content: "\e642";
}

.ai-top-right:before {
  content: "\e600";
}

.ai-delete:before {
  content: "\e7a5";
}

.ai-edit:before {
  content: "\e7a7";
}

.ai-copy:before {
  content: "\e99e";
}

.ai-collect:before {
  content: "\e9b7";
}

.ai-no-collect:before {
  content: "\e9b8";
}

.ai-writing:before {
  content: "\e72b";
}

.ai-wenshengtu:before {
  content: "\e715";
}

.ai-tushengwen:before {
  content: "\e6dc";
}

.ai-similar:before {
  content: "\e60f";
}

